*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: -apple-system, 'Segoe UI', "Roboto Light", Candara, sans-serif, serif;
    background: #f1f5f8;
    color: #222
}

.booklist {
    width: 90vw;
    max-width: 975px;
    margin: 5rem auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem
}

.books {
    background: #fff;
    padding: 1rem 2rem;
    border-radius: 1rem;
}

.books h1 {
    margin: 0.5rem 0.5rem 0.5rem 0;
    color: #111827;
    font-size: 1rem;

}

.books h4 {
    margin-top: 0.1rem;
    color: #4B5563;
    font-size: 0.8rem
}

.button {
    margin: 1rem 1rem 1rem 0;
}


@media screen and (min-width: 768px) {
    .booklist{
        grid-template-columns: repeat(3, 1fr);
        align-items: start;
    }
}
